{% extends "main.html" %}

{%- block content %}
    <br>
    <table>
      <tr>
        <td>
          <form action="/fpprojbdatapull">
            <button>batter pull data</button>
          </form>
        </td>
        <td>
          <form action="/fpprojpdatapull">
            <button>pitcher pull data</button>
          </form>
        </td>
      </tr>
    </table>
    <br>
    <table>
      <tr>
        <td>
          <form action="/flushfpprojb">
            <button>Flush Fant Pro Batter Projs</button>
          </form>
        </td>
        <td>
          <form action="/flushfpprojp">
            <button>Fant Pro Pitcher Proj</button>
          </form>
        </td>
        <td>
          <form action="/flush">
            <button>*** Flush Entire Memcache ***</button>
          </form>
        </td>
      </tr>
    </table>
{%- endblock %}
