{% extends "main.html" %}

{%- block content %}
    <br>
    <!-- Data Pulling -->
    <table>
      <tr>
        <td>
          <form action="/fpprojbdatapull">
            <button>batter pull data</button>
          </form>
        </td>
        <td>
          <form action="/fpprojpdatapull">
            <button>pitcher pull data</button>
          </form>
        </td>
      </tr>
    </table>
    <br>
    <!-- Memcache flushing -->
    <table>
      <tr>
        <td>
          <form action="/flushfpprojb">
            <button>Flush Fant Pro Batter Projs</button>
          </form>
        </td>
        <td>
          <form action="/flushfpprojp">
            <button>Fant Pro Pitcher Proj</button>
          </form>
        </td>
        <td>
          <form action="/flush">
            <button>*** Flush Entire Memcache ***</button>
          </form>
        </td>
      </tr>
    </table>
    <br>
    <!-- User Maintenance -->
    <table>
      <tr>
        <form method="post">
        <td>
          <select name="username">
          {%- for u in users %}
            <option value={{u.username}}>{{u.username}}</option>
          {%- endfor %}
          </select>
        </td>
        <td>
          <select name="authorization">
            <option value="admin">admin</option>
            <option value="power-user">power-user</option>
            <option value="commissioner">commissioner</option>
            <option value="basic">basic</option>
          </select>
        </td>
        <td>
          <input type="submit">
        </td>
        </form>
      </tr>
      {%- if userConfirmation %}
      <tr>
        <p>{{userConfirmation[0]}} has been granted {{userConfirmation[1]}} access</p>
      </tr>
      {%- endif %}
    </table>

{%- endblock %}
