<!DOCTYPE html>
<html>
  <head>
    <title>Greys Sports Almanac</title>
    <link type="text/css" rel="stylesheet" href="/styles/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/styles/styles.css" />
    <!-- <script type="text/javascript" src="/scripts/scripts.js"></script> -->
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/batting_projections">batting projections</a></li>
        <li><a href="/pitching_projections">pitching projections</a></li>
        <!-- <li><a href="/blog">blog</a></li>
        <li><a href="/admin">admin</a></li>
        <li><a href="/oauth">oauth</a></li> -->
        <li><a href="/team_tools_html">team tools html</a></li>
        <li><a href="/team_tools_db">team tools db</a></li>
        {%- if username %}
        <li><a href="/user"><small>{{username}}</small></a><a href="/logout"><small>(logout)</small></a></li>
        {%- else %}
        <li><a href="/login"><small>login</small></a></li>
        {%- endif %}
      </ul>
    </nav>
    <table width="100%">
      <tr>
        <td>
          <h2 style="margin: 1pt">gsa</h2>
        </td>
        <td>
          <h6 style="margin: 1pt; text-align: right">Greys Sports Almanac</h6>
        </td>
      </tr>
    </table>
    <hr style="margin-top: 5pt">
  </head>
  <body>
    {%- block content %}
    {%- endblock %}
  </body>
  <footer>
    <!-- <hr> -->
    <!-- <table width=100%>
      <tr>
        <td><h3><a href="/archive">archive</a></h3></td>
        <td style="text-align: center"><h3><a href="/map">map</a></h3></td>
        <td style="text-align: right"><h3><a href="/modify_post">modify</a></h3></td>
      </tr>
    </table> -->
  </footer>
</html>
