<!DOCTYPE html>
<html>
  <head>
    <title>tFBPs</title>
    <link type="text/css" rel="stylesheet" href="/styles/normalize.css" />
    <link type="text/css" rel="stylesheet" href="/styles/styles.css" />
  </head>
    <body>
      <table>
        <tr>
          {%- if fpBatterData -%}
          <td>
            <form action="/fpbatter">
              <button>Fantasy Pros Batter Projections</button>
            </form>
          </td>
          {% endif %}
          {%- if fpPitcherData -%}
          <td>
            <form action="/fppitcher">
              <button>Fantasy Pros Pitcher Projections</button>
            </form>
          </td>
          {% endif %}
        </tr>
        <tr>
          <td>
            <form action="/fpbdatapull">
              <button>batter pull data</button>
            </form>
          </td>
          <td>
            <form action="/fppdatapull">
              <button>pitcher pull data</button>
            </form>
          </td></tr>
      </table>
    {%- block content -%}
    {%- endblock -%}
  </body>
  <footer>
    <!-- <hr> -->
    <!-- <table width=100%>
      <tr>
        <td><h3><a href="/archive">archive</a></h3></td>
        <td style="text-align: center"><h3><a href="/map">map</a></h3></td>
        <td style="text-align: right"><h3><a href="/modify_post">modify</a></h3></td>
      </tr>
    </table> -->
  </footer>
</html>
