  <div>
    {%- if single_player or top_fa or trade_result or team_a or team_b or keepers %}
    {%- elif projected_standings %}
      <h2>Projected Final Standings</h2>
      <table>
        <tr>
          <th>Total Points</th>
          <th>Team Name</th>
          <th>R</th>
          <th>HR</th>
          <th>RBI</th>
          <th>SB</th>
          <th>OPS</th>
          <th>W</th>
          <th>SV</th>
          <th>K</th>
          <th>ERA</th>
          <th>WHIP</th>
          <th>IP</th>
        </tr>
        <tbody>
          {%- for team in projected_standings %}
            <tr>
              <td>{{team['PointsTotal']}}</td>
              <td>{{team['TEAM_NAME']}}</td>
              <td>{{team['PointsR']}}</td>
              <td>{{team['PointsHR']}}</td>
              <td>{{team['PointsRBI']}}</td>
              <td>{{team['PointsSB']}}</td>
              <td>{{team['PointsOPS']}}</td>
              <td>{{team['PointsW']}}</td>
              <td>{{team['PointsSV']}}</td>
              <td>{{team['PointsK']}}</td>
              <td>{{team['PointsERA']}}</td>
              <td>{{team['PointsWHIP']}}</td>
              <td>{{team['StatsIP']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Projected Final Stats</h2>
      <table>
        <tr>
          <th>Team Name</th>
          <th>R</th>
          <th>HR</th>
          <th>RBI</th>
          <th>SB</th>
          <th>OPS</th>
          <th>W</th>
          <th>SV</th>
          <th>K</th>
          <th>ERA</th>
          <th>WHIP</th>
          <th>IP</th>
        </tr>
        <tbody>
          {%- for team in projected_standings %}
            <tr>
              <td>{{team['TEAM_NAME']}}</td>
              <td>{{team['StatsR']}}</td>
              <td>{{team['StatsHR']}}</td>
              <td>{{team['StatsRBI']}}</td>
              <td>{{team['StatsSB']}}</td>
              <td>{{'%0.3f' % team['StatsOPS']}}</td>
              <td>{{team['StatsW']}}</td>
              <td>{{team['StatsSV']}}</td>
              <td>{{team['StatsK']}}</td>
              <td>{{'%0.2f' % team['StatsERA']}}</td>
              <td>{{'%0.2f' % team['StatsWHIP']}}</td>
              <td>{{team['StatsIP']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Projected Final Volatility</h2>
      <table>
        <tr>
          <th>Volatility(<small>Down</small> Up)</th>
          <th>Team Name</th>
          <th>R</th>
          <th>HR</th>
          <th>RBI</th>
          <th>SB</th>
          <th>OPS</th>
          <th>W</th>
          <th>SV</th>
          <th>K</th>
          <th>ERA</th>
          <th>WHIP</th>
        </tr>
        <tbody>
          {%- for team in projected_standings %}
            <tr>
              <td><small>{{team['Total Downward Volatility']}} </small>{{team['Total Upward Volatility']}}</td>
              <td>{{team['TEAM_NAME']}}</td>
              <td><small>{{team['DownVol R']}} </small>{{team['UpVol R']}}</td>
              <td><small>{{team['DownVol HR']}} </small>{{team['UpVol HR']}}</td>
              <td><small>{{team['DownVol RBI']}} </small>{{team['UpVol RBI']}}</td>
              <td><small>{{team['DownVol SB']}} </small>{{team['UpVol SB']}}</td>
              <td><small>{{team['DownVol OPS']}} </small>{{team['UpVol OPS']}}</td>
              <td><small>{{team['DownVol W']}} </small>{{team['UpVol W']}}</td>
              <td><small>{{team['DownVol SV']}} </small>{{team['UpVol SV']}}</td>
              <td><small>{{team['DownVol K']}} </small>{{team['UpVol K']}}</td>
              <td><small>{{team['DownVol ERA']}} </small>{{team['UpVol ERA']}}</td>
              <td><small>{{team['DownVol WHIP']}} </small>{{team['UpVol WHIP']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {%- elif username %}
      <h2>Projected Final Standings</h2>
      Current Leagues:
      <form method="post">
          <select name="proj_league_key">
              {%- for league in current_leagues %}
              <option value="{{league.league_key}}">{{league.name}} - {{league.season}}</option>
              {%- endfor %}                
          </select>
          <br><br>
          <input type="submit">
      </form>
      <br/>
    {%- else %}
      <h2>Projected Final Standings</h2>
      <form method="post">
        <table>
          <tr>
            <td>League Number:</td>
            <td>
              <input class="regform" type="text" name="league_no" value="{{league_no}}" placeholder="5091" />
            </td>
          </tr>
        </table>
        <!--<div style="color: red">{{error}}</div>-->
        <table>
          <tr>
            <td>
              <input type = "submit" />
            </td>
          </tr>
        </table>
      </form>
    {%- endif %}
  </div>