{% extends "main.html" %}

{%- block content %}
    <h1>Please enter your info:</h1>
    <table>
      <tr>
        <form method="post">
        <td>Username:</td>
        <td><input class="regform" type="text" name="username" value="{{username}}" /></td>
        <td><div style="color: red">{{username_error}}</div></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input class="regform" type="password" name="password" value="" /></td>
        <td><div style="color: red">{{password_error}}</div></td>
      </tr>
      <tr>
        <td>Re-enter Password:</td>
        <td><input class="regform" type="password" name="pass_verify" value="" /></td>
        <td><div style="color: red">{{pass_verify_error}}</div></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input class="regform" type="text" name="email" value="{{email}}" /></td>
        <td><div style="color: red">{{email_error}}</div></td>
      </tr>
      <tr>
        <td>Link Yahoo! Account:</td>
        <td><input class="regform" type="checkbox" name="link_yahoo" checked="checked" /></td>
      </tr>
      <tr>
        <td>
          <input type = "submit" />
        </td>
        </form>
        <td>
          <form action="/login">
            <button>login</button>
          </form>
        </td>
      </tr>
    </table>

{%- endblock %}
