{% extends "main.html" %}
{%- block content -%}
<p>Date of data: {{dataDate.strftime('%m.%d.%Y')}}</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Team</th>
      <th>POS</th>
      <th>SGP</th>
      {%- if cat == "b" -%}
        <th>AB</th>
        <th>R</th>
        <th>HR</th>
        <th>RBI</th>
        <th>SB</th>
        <th>OPS</th>
      {%- elif cat == "p" -%}
        <th>IP</th>
        <th>W</th>
        <th>SV</th>
        <th>K</th>
        <th>ERA</th>
        <th>WHIP</th>
      {% endif %}
    </tr>
  </thead>
  {%- for player in players -%}
  <tr>
    <td>{{player.name}}</td>
    <td>{{player.team}}</td>
    <td>{{player.pos}}</td>
    <td>{{player.sgp}}</td>
    {%- if cat == "b" -%}
      <td>{{player.ab}}</td>
      <td>{{player.r}}</td>
      <td>{{player.hr}}</td>
      <td>{{player.rbi}}</td>
      <td>{{player.sb}}</td>
      <td>{{player.ops}}</td>
    {%- elif cat == "p" -%}
      <td>{{player.ip}}</td>
      <td>{{player.w}}</td>
      <td>{{player.sv}}</td>
      <td>{{player.k}}</td>
      <td>{{player.era}}</td>
      <td>{{player.whip}}</td>
    {% endif %}
  </tr>
{% endfor %}
</table>
{%- endblock -%}
