{% extends "main.html" %}

{% block content %}
    <table>
      <thead>
        <tr>
          <th>Value</th>
          <th>Name</th>
          <th>Team</th>
          <th>POS</th>
          <!-- <th>SGP</th> -->
        {%- if cat == "batter" %}
          <th>AB</th>
          <th>R</th>
          <th>HR</th>
          <th>RBI</th>
          <th>SB</th>
          <th>OPS</th>
        {%- elif cat == "pitcher" %}
          <th>IP</th>
          <th>W</th>
          <th>SV</th>
          <th>K</th>
          <th>ERA</th>
          <th>WHIP</th>
          <th>K/IP</th>
        {%- endif %}
        </tr>
      </thead>
      {%- for player in players %}
        <tr>
          <td>{{'$%0.2f' % player.dollarValue}}</td>
          <td><a href={{'"https://baseball.fantasysports.yahoo.com/b1/5091/playersearch?&search=' ~ player.name|replace(' ','%20') ~ '"'}}>{{player.name}}</a></td>
          <td>{{player.team}}</td>
          <td>{{player.pos}}</td>
          <!-- <td>{{player.sgp}}</td> -->
        {%- if cat == "batter" %}
          <td>{{'%0.0f' % player.atbats}}</td>
          <td>{{'%0.0f' % player.runs}}</td>
          <td>{{'%0.0f' % player.hrs}}</td>
          <td>{{'%0.0f' % player.rbis}}</td>
          <td>{{'%0.0f' % player.sbs}}</td>
          <td>{{'%0.3f' % player.ops}}</td>
        {%- elif cat == "pitcher" %}
          <td>{{'%0.0f' % player.ips}}</td>
          <td>{{'%0.0f' % player.wins}}</td>
          <td>{{'%0.0f' % player.svs}}</td>
          <td>{{'%0.0f' % player.sos}}</td>
          <td>{{'%0.2f' % player.era}}</td>
          <td>{{'%0.2f' % player.whip}}</td>
          <td>{{'%0.2f' % player.kip}}</td>          
        {%- endif %}
        </tr>
      {%- endfor %}
    </table>
{%- endblock %}
