{% extends "main.html" %}

{%- block content %}
  <div>
    {%- if single_player or projected_standings%}
    {%- elif top_fa %}
      <h2>FA Rater by Team/League</h2>
      <p>{{top_fa|safe}}</p>
    {%- else %}
      <h2>FA Rater by Team/League</h2>
      <form method="post">
      <table>
        <tr>
          <td>League Number:</td>
          <td>
            <input class="regform" type="text" name="league_no" value="{{league_no}}" />
          </td>
        </tr>
        <tr>
          <td>Team Name:</td>
          <td>
            <input class="regform" type="text" name="team_name" value="{{team_name}}" />
          </td>
        </tr>
      </table>
      <!--<div style="color: red">{{error}}</div>-->
      <table>
        <tr>
          <td>
            <input type = "submit" />
      </form>
    {%- endif %}
  </div>
  <div>
    {%- if top_fa or projected_standings %}
    {%- elif single_player %}
      <h2>Single Player Search</h2>
      <p>{{single_player|safe}}</p>
    {%- else %}
      <br/>
      <h2>Single Player Search</h2>
      <form method="post">
      <table>
        <tr>
          <td>Player Name:</td>
          <td>
            <input class="regform" type="text" name="player_name" value="{{player_name}}" />
          </td>
        </tr>
      </table>
      <!--<div style="color: red">{{error}}</div>-->
      <table>
        <tr>
          <td>
            <input type = "submit" />
      </form>
    {%- endif %}
  </div>
  <div>
    {%- if single_player or top_fa %}
    {%- elif projected_standings %}
      <h2>Projected Final Standings</h2>
      <p>{{projected_standings|safe}}</p>
    {%- else %}
      <h2>Projected Final Standings</h2>
      <form method="post">
      <table>
        <tr>
          <td>League Number:</td>
          <td>
            <input class="regform" type="text" name="league_no" value="{{league_no}}" />
          </td>
        </tr>
      </table>
      <!--<div style="color: red">{{error}}</div>-->
      <table>
        <tr>
          <td>
            <input type = "submit" />
      </form>
    {%- endif %}
  </div>
{%- endblock -%}