{% extends "main.html" %}

{%- block content %}
  <div>
    {%- if single_player or projected_standings%}
    {%- elif top_fa %}
      <h2>FA Rater by Team/League</h2>
      <h4>Top FA Pitchers</h4>
      <table>
        <tr>
          <th>Value</th>
          <th>Player Name</th>
          <th>Position</th>
          <th>W</th>
          <th>SV</th>
          <th>K</th>
          <th>ERA</th>
          <th>WHIP</th>
          <th>IP</th>
          <th>K/IP</th>
        </tr>
        <tbody>
          {%- for pitcher in top_fa['Pitching FAs'] %}
            <tr>
              <td>{{'$%0.2f' % pitcher.dollarValue}}</td>
              <td>{{pitcher.name}}</td>
              <td>{{pitcher.pos}}</td>
              <td>{{pitcher.wins}}</td>
              <td>{{pitcher.svs}}</td>
              <td>{{pitcher.sos}}</td>
              <td>{{pitcher.era}}</td>
              <td>{{pitcher.whip}}</td>
              <td>{{pitcher.ips}}</td>
              <td>{{'%0.2f' % pitcher.kip}}</td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
      <h4>Team Pitchers</h4>
      <table>
        <tr>
          <th>Value</th>
          <th>Player Name</th>
          <th>Position</th>
          <th>W</th>
          <th>SV</th>
          <th>K</th>
          <th>ERA</th>
          <th>WHIP</th>
          <th>IP</th>
          <th>K/IP</th>
        </tr>
        <tbody>
          {%- for pitcher in top_fa['Pitching Team'] %}
            <tr>
              <td>{{'$%0.2f' % pitcher.dollarValue}}</td>
              <td>{{pitcher.name}}</td>
              <td>{{pitcher.pos}}</td>
              <td>{{pitcher.wins}}</td>
              <td>{{pitcher.svs}}</td>
              <td>{{pitcher.sos}}</td>
              <td>{{pitcher.era}}</td>
              <td>{{pitcher.whip}}</td>
              <td>{{pitcher.ips}}</td>
              <td>{{'%0.2f' % pitcher.kip}}</td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
      <h4>Top FA Batters</h4>
      <table>
        <tr>
          <th>Value</th>
          <th>Player Name</th>
          <th>Position</th>
          <th>R</th>
          <th>HR</th>
          <th>RBI</th>
          <th>SB</th>
          <th>OPS</th>
        </tr>
        <tbody>
          {%- for batter in top_fa['Batting FAs'] %}
            <tr>
              <td>{{'$%0.2f' % batter.dollarValue}}</td>
              <td>{{batter.name}}</td>
              <td>{{batter.pos}}</td>
              <td>{{batter.runs}}</td>
              <td>{{batter.hrs}}</td>
              <td>{{batter.rbis}}</td>
              <td>{{batter.sbs}}</td>
              <td>{{batter.ops}}</td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
      <h4>Team Batters</h4>
      <table>
        <tr>
          <th>Value</th>
          <th>Player Name</th>
          <th>Position</th>
          <th>R</th>
          <th>HR</th>
          <th>RBI</th>
          <th>SB</th>
          <th>OPS</th>
        </tr>
        <tbody>
          {%- for batter in top_fa['Batting Team'] %}
            <tr>
              <td>{{'$%0.2f' % batter.dollarValue}}</td>
              <td>{{batter.name}}</td>
              <td>{{batter.pos}}</td>
              <td>{{batter.runs}}</td>
              <td>{{batter.hrs}}</td>
              <td>{{batter.rbis}}</td>
              <td>{{batter.sbs}}</td>
              <td>{{batter.ops}}</td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
    {%- else %}
      <h2>FA Rater by Team/League</h2>
      <form method="post">
      <table>
        <tr>
          <td>League Number:</td>
          <td>
            <input class="regform" type="text" name="league_no" value="{{league_no}}" />
          </td>
        </tr>
        <tr>
          <td>Team Name:</td>
          <td>
            <input class="regform" type="text" name="team_name" value="{{team_name}}" />
          </td>
        </tr>
      </table>
      <!--<div style="color: red">{{error}}</div>-->
      <table>
        <tr>
          <td>
            <input type = "submit" />
      </form>
    {%- endif %}
  </div>
  <div>
    {%- if top_fa or projected_standings %}
    {%- elif single_player %}
      <h2>Single Player Search</h2>
      <p>{{single_player|safe}}</p>
    {%- else %}
      <br/>
      <h2>Single Player Search</h2>
      <form method="post">
      <table>
        <tr>
          <td>Player Name:</td>
          <td>
            <input class="regform" type="text" name="player_name" value="{{player_name}}" />
          </td>
        </tr>
      </table>
      <!--<div style="color: red">{{error}}</div>-->
      <table>
        <tr>
          <td>
            <input type = "submit" />
      </form>
    {%- endif %}
  </div>
  <div>
    {%- if single_player or top_fa %}
    {%- elif projected_standings %}
      <h2>Projected Final Standings</h2>
      <table>
        <tr>
          <th>Total Points</th>
          <th>Team Name</th>
          <th>R</th>
          <th>HR</th>
          <th>RBI</th>
          <th>SB</th>
          <th>OPS</th>
          <th>W</th>
          <th>SV</th>
          <th>K</th>
          <th>ERA</th>
          <th>WHIP</th>
          <th>IP</th>
        </tr>
        <tbody>
          {%- for team in projected_standings %}
            <tr>
              <td>{{team['PointsTotal']}}</td>
              <td>{{team['TEAM_NAME']}}</td>
              <td><small>{{team['DownVol R']}}</small>
                {{team['PointsR']}}
                <small>{{team['UpVol R']}}</small></td>
              <td><small>{{team['DownVol HR']}}</small>
                {{team['PointsHR']}}
                <small>{{team['UpVol HR']}}</small></td>
              <td><small>{{team['DownVol RBI']}}</small>
                {{team['PointsRBI']}}
                <small>{{team['UpVol RBI']}}</small></td>
              <td><small>{{team['DownVol SB']}}</small>
                {{team['PointsSB']}}
                <small>{{team['UpVol SB']}}</small></td>
              <td><small>{{team['DownVol OPS']}}</small>
                {{team['PointsOPS']}}
                <small>{{team['UpVol OPS']}}</small></td>
              <td><small>{{team['DownVol W']}}</small>
                {{team['PointsW']}}
                <small>{{team['UpVol W']}}</small></td>
              <td><small>{{team['DownVol SV']}}</small>
                {{team['PointsSV']}}
                <small>{{team['UpVol SV']}}</small></td>
              <td><small>{{team['DownVol K']}}</small>
                {{team['PointsK']}}
                <small>{{team['UpVol K']}}</small></td>
              <td><small>{{team['DownVol ERA']}}</small>
                {{team['PointsERA']}}
                <small>{{team['UpVol ERA']}}</small></td>
              <td><small>{{team['DownVol WHIP']}}</small>
                {{team['PointsWHIP']}}
                <small>{{team['UpVol WHIP']}}</small></td>
              <td>{{team['StatsIP']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {%- else %}
      <h2>Projected Final Standings</h2>
      <form method="post">
      <table>
        <tr>
          <td>League Number:</td>
          <td>
            <input class="regform" type="text" name="league_no" value="{{league_no}}" />
          </td>
        </tr>
      </table>
      <!--<div style="color: red">{{error}}</div>-->
      <table>
        <tr>
          <td>
            <input type = "submit" />
      </form>
    {%- endif %}
  </div>
{%- endblock -%}