{% extends "main.html" %}

{%- block content %}
  <div>
    {%- if single_player or projected_standings%}
    {%- elif top_fa %}
      <h2>FA/Team Valuation for {{team_name}}</h2>
      <h4>Top FA Pitchers</h4>
      <table>
        <tr>
          <th>Value</th>
          <th>Player Name</th>
          <th>Team</th>
          <th>Position</th>
          <th>W</th>
          <th>SV</th>
          <th>K</th>
          <th>ERA</th>
          <th>WHIP</th>
          <th>IP</th>
          <th>K/IP</th>
        </tr>
        <tbody>
          {%- for pitcher in top_fa['Pitching FAs'] %}
            <tr>
              <td>{{'$%0.2f' % pitcher.dollarValue}}</td>
              <td>{{pitcher.name}}</td>
              <td>{{pitcher.team}}</td>
              <td>{{pitcher.pos}}</td>
              <td>{{pitcher.wins}}</td>
              <td>{{pitcher.svs}}</td>
              <td>{{pitcher.sos}}</td>
              <td>{{pitcher.era}}</td>
              <td>{{pitcher.whip}}</td>
              <td>{{pitcher.ips}}</td>
              <td>{{'%0.2f' % pitcher.kip}}</td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
      <h4>Team Pitchers</h4>
      <table>
        <tr>
          <th>Value</th>
          <th>Player Name</th>
          <th>Team</th>
          <th>Position</th>
          <th>W</th>
          <th>SV</th>
          <th>K</th>
          <th>ERA</th>
          <th>WHIP</th>
          <th>IP</th>
          <th>K/IP</th>
        </tr>
        <tbody>
          {%- for pitcher in top_fa['Pitching Team'] %}
            <tr>
              <td>{{'$%0.2f' % pitcher.dollarValue}}</td>
              <td>{{pitcher.name}}</td>
              <td>{{pitcher.team}}</td>
              <td>{{pitcher.pos}}</td>
              <td>{{pitcher.wins}}</td>
              <td>{{pitcher.svs}}</td>
              <td>{{pitcher.sos}}</td>
              <td>{{pitcher.era}}</td>
              <td>{{pitcher.whip}}</td>
              <td>{{pitcher.ips}}</td>
              <td>{{'%0.2f' % pitcher.kip}}</td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
      <h4>Top FA Batters</h4>
      <table>
        <tr>
          <th>Value</th>
          <th>Player Name</th>
          <th>Team</th>
          <th>Position</th>
          <th>R</th>
          <th>HR</th>
          <th>RBI</th>
          <th>SB</th>
          <th>OPS</th>
        </tr>
        <tbody>
          {%- for batter in top_fa['Batting FAs'] %}
            <tr>
              <td>{{'$%0.2f' % batter.dollarValue}}</td>
              <td>{{batter.name}}</td>
              <td>{{batter.team}}</td>
              <td>{{batter.pos}}</td>
              <td>{{batter.runs}}</td>
              <td>{{batter.hrs}}</td>
              <td>{{batter.rbis}}</td>
              <td>{{batter.sbs}}</td>
              <td>{{batter.ops}}</td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
      <h4>Team Batters</h4>
      <table>
        <tr>
          <th>Value</th>
          <th>Player Name</th>
          <th>Team</th>
          <th>Position</th>
          <th>R</th>
          <th>HR</th>
          <th>RBI</th>
          <th>SB</th>
          <th>OPS</th>
        </tr>
        <tbody>
          {%- for batter in top_fa['Batting Team'] %}
            <tr>
              <td>{{'$%0.2f' % batter.dollarValue}}</td>
              <td>{{batter.name}}</td>
              <td>{{batter.team}}</td>
              <td>{{batter.pos}}</td>
              <td>{{batter.runs}}</td>
              <td>{{batter.hrs}}</td>
              <td>{{batter.rbis}}</td>
              <td>{{batter.sbs}}</td>
              <td>{{batter.ops}}</td>
            </tr>
          {%- endfor %}
        </tbody>
      </table>
    {%- else %}
      <h2>FA Rater by Team/League</h2>
      <form method="post">
      <table>
        <tr>
          <td>League Number:</td>
          <td>
            <input class="regform" type="text" name="league_no" value="{{league_no}}" />
          </td>
        </tr>
        <tr>
          <td>Team Name:</td>
          <td>
            <input class="regform" type="text" name="team_name" value="{{team_name}}" />
          </td>
        </tr>
      </table>
      <!--<div style="color: red">{{error}}</div>-->
      <table>
        <tr>
          <td>
            <input type = "submit" />
      </form>
    {%- endif %}
  </div>
  <div>
    {%- if top_fa or projected_standings %}
    {%- elif single_player %}
      <h2>Single Player Search</h2>
      <p>{{single_player|safe}}</p>
    {%- else %}
      <br/>
      <h2>Single Player Search</h2>
      <form method="post">
      <table>
        <tr>
          <td>Player Name:</td>
          <td>
            <input class="regform" type="text" name="player_name" value="{{player_name}}" />
          </td>
        </tr>
      </table>
      <!--<div style="color: red">{{error}}</div>-->
      <table>
        <tr>
          <td>
            <input type = "submit" />
      </form>
    {%- endif %}
  </div>
  <div>
    {%- if single_player or top_fa %}
    {%- elif projected_standings %}
      <h2>Projected Final Standings</h2>
      <table>
        <tr>
          <th>Total Points</th>
          <th>Team Name</th>
          <th>R</th>
          <th>HR</th>
          <th>RBI</th>
          <th>SB</th>
          <th>OPS</th>
          <th>W</th>
          <th>SV</th>
          <th>K</th>
          <th>ERA</th>
          <th>WHIP</th>
          <th>IP</th>
        </tr>
        <tbody>
          {%- for team in projected_standings %}
            <tr>
              <td>{{team['PointsTotal']}}</td>
              <td>{{team['TEAM_NAME']}}</td>
              <td>{{team['PointsR']}}</td>
              <td>{{team['PointsHR']}}</td>
              <td>{{team['PointsRBI']}}</td>
              <td>{{team['PointsSB']}}</td>
              <td>{{team['PointsOPS']}}</td>
              <td>{{team['PointsW']}}</td>
              <td>{{team['PointsSV']}}</td>
              <td>{{team['PointsK']}}</td>
              <td>{{team['PointsERA']}}</td>
              <td>{{team['PointsWHIP']}}</td>
              <td>{{team['StatsIP']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Projected Final Stats</h2>
      <table>
        <tr>
          <th>Team Name</th>
          <th>R</th>
          <th>HR</th>
          <th>RBI</th>
          <th>SB</th>
          <th>OPS</th>
          <th>W</th>
          <th>SV</th>
          <th>K</th>
          <th>ERA</th>
          <th>WHIP</th>
          <th>IP</th>
        </tr>
        <tbody>
          {%- for team in projected_standings %}
            <tr>
              <td>{{team['TEAM_NAME']}}</td>
              <td>{{team['StatsR']}}</td>
              <td>{{team['StatsHR']}}</td>
              <td>{{team['StatsRBI']}}</td>
              <td>{{team['StatsSB']}}</td>
              <td>{{'%0.3f' % team['StatsOPS']}}</td>
              <td>{{team['StatsW']}}</td>
              <td>{{team['StatsSV']}}</td>
              <td>{{team['StatsK']}}</td>
              <td>{{'%0.2f' % team['StatsERA']}}</td>
              <td>{{'%0.2f' % team['StatsWHIP']}}</td>
              <td>{{team['StatsIP']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2>Projected Final Volatility</h2>
      <table>
        <tr>
          <th>Volatility(<small>Down</small> Up)</th>
          <th>Team Name</th>
          <th>R</th>
          <th>HR</th>
          <th>RBI</th>
          <th>SB</th>
          <th>OPS</th>
          <th>W</th>
          <th>SV</th>
          <th>K</th>
          <th>ERA</th>
          <th>WHIP</th>
        </tr>
        <tbody>
          {%- for team in projected_standings %}
            <tr>
              <td><small>{{team['Total Downward Volatility']}} </small>{{team['Total Upward Volatility']}}</td>
              <td>{{team['TEAM_NAME']}}</td>
              <td><small>{{team['DownVol R']}} </small>{{team['UpVol R']}}</td>
              <td><small>{{team['DownVol HR']}} </small>{{team['UpVol HR']}}</td>
              <td><small>{{team['DownVol RBI']}} </small>{{team['UpVol RBI']}}</td>
              <td><small>{{team['DownVol SB']}} </small>{{team['UpVol SB']}}</td>
              <td><small>{{team['DownVol OPS']}} </small>{{team['UpVol OPS']}}</td>
              <td><small>{{team['DownVol W']}} </small>{{team['UpVol W']}}</td>
              <td><small>{{team['DownVol SV']}} </small>{{team['UpVol SV']}}</td>
              <td><small>{{team['DownVol K']}} </small>{{team['UpVol K']}}</td>
              <td><small>{{team['DownVol ERA']}} </small>{{team['UpVol ERA']}}</td>
              <td><small>{{team['DownVol WHIP']}} </small>{{team['UpVol WHIP']}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {%- else %}
      <h2>Projected Final Standings</h2>
      <form method="post">
      <table>
        <tr>
          <td>League Number:</td>
          <td>
            <input class="regform" type="text" name="league_no" value="{{league_no}}" />
          </td>
        </tr>
      </table>
      <!--<div style="color: red">{{error}}</div>-->
      <table>
        <tr>
          <td>
            <input type = "submit" />
      </form>
    {%- endif %}
  </div>
{%- endblock -%}