{% extends "main.html" %}

{%- block content %}
<div>
    <a href="{{link_yahoo}}">Link Yahoo! Account</a>
    <br/>
</div>
<div>
    <a href="\get_leagues">Get Yahoo! Leagues</a>
    <br/>
</div>
{%- if user.authorization == "admin" %}
<div>
    <h2>Update Database Player Projections</h2>
    <td>
    <form method="post" enctype="multipart/form-data">
        <label>batter csv file</label>
        <input type="file" name="batting_csv" />
        <label>pitcher csv file</label>
        <input type="file" name="pitching_csv" />
        <button type="submit">submit</button>
    </form>
    {%- if elapsed %}
    <h6>Updated in {{'%0.2f' % elapsed}} seconds</h6>
    {%- endif %}
    </td>
    <br/>    
</div>
{%- endif %}
{%- endblock -%}